---
title: "Apps"
---
<div class='hero-unit '>
  <h1>Some Little Apps</h1>
  	<br />  	
  	<div class='row'>
  	  <div class="span6 offset1">
  	    <ul>
  	    	<li><%= link_to "The One Yuan", "/apps/the1yuan" %></li>
  	    </ul>
  	  </div>
  		
  	</div>
</div>