---
title: "About"
---
<div class="hero-unit">
  <h1>About</h1>
  
  <div id="main-article" class="switchable">
    <ul class="nav nav-pills sw-ul">
      <li id="me" class="active"><%= link_to "Me", "#" %></li>
      <li id='website'><%= link_to "Website", "#" %></li>
    </ul>
    
    <div id="me-content" class="well hero-inner-post sw-div">
      <h3>About me</h3>
      Test. <br/>, Here is the text.
    </div>
    
  </div>
</div>
