---
title: "About"
---
.hero-unit
  %h1= "About"
  
  #main-article
    %ul.nav.nav-pills
      %li#me= link_to "Me", "#"
      %li= link_to "Website", "#"
    #about-content.well.hero-inner-post
  :javascript
    $('#me').addClass('active');
    $('#about-content').html('<h3>About me</h3>Test. <br/>, Here is the text.');
    $('#main-article').css('margin-top', '+=24px');
    //var bgColor = $('body').css('background-color');
    //$('#about-content').css('background-color', bgColor);
    
 
    
