-#
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Links
      %li= link_to "Link 1", "#"
      %li= link_to "Link 2", "#"
      %li= link_to "Link 3", "#"
    
.well.sidebar-nav
  %ul.nav.nav-list#owo-rss-nav-ul
    %li.nav-header Normal Blog posts
    
.well.sidebar-nav 
  %ul.nav.nav-list#logdown-rss-nav-ul
    %li.nav-header Programming Blog posts
    