-#
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Links
      %li= link_to "Link 1", "#"
      %li= link_to "Link 2", "#"
      %li= link_to "Link 3", "#"
    
#rss-nav.well.sidebar-nav
  %li.nav-header Blog posts

:javascript
  (function(){
    var cont = $('#rss-nav');
    loadFeeds(cont, "http://qmono2.blogspot.com/feeds/posts/default", 5);
  })();
  
  
  
