# encoding: utf-8
---
title: "Home"
---
<div class='hero-unit '>
  <h1>From Vitali to Dr.Pepper</h1>
  	<h2 class="text-right">Ultra Happy Programming</h2>
  	<br />  	
  	<div class='row'>
  	  <div class="span6 offset1">
  	    <img src="/img/index_pho.jpg" alt="fata pvc, orign of this website's theme" />
        <p>
          <br />
          <small>
            首頁目前有點空就先放上這張圖片吧！ 這張圖和這個網站有很大的關係<br/>   
            除了是我的心靈支柱以外，這個網站的配色也是由這張圖片產生的喔！<br/>          
            詳細可以看網站技術部分的介紹 ~
          </small>
        </p>
  	  </div>
  		
  	</div>
</div>

  	